{% extends 'base.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1>{{ recipe.title }}</h1>
    <h3>{{ recipe.category }}</h3>
    <h5>Время приготовления: {{ recipe.cooking_time }} мин.</h5>
    <div class="row justify-content-center">
        <div class="col-6">
            <img class="img-fluid" src="{{ recipe.photo.url }}" alt="{{ recipe.title }}">
        </div>
        <div class="col-6">
        <p>{{ recipe.description }}</p>
        </div>
        <figure>
            <blockquote class="blockquote border-1">
                <p>{{ recipe.steps }}</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                {{ recipe.author.first_name }}
            </figcaption>
        </figure>
        {% if is_author %}
        <a href="{% url 'edit_recipe' recipe.id %}">Редактировать</a>
        {% endif %}
    </div>
</div>
{% endblock %}

